.calculater {
  border: 5px solid #0f0606;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 320px;
}
  
.calsheet{
    background-color: rgb(122, 129, 185);
    height: 3pc;
    width: 24.5pc;
}
.bt1{   
    background-color: rgb(222, 202, 209);
    position:center;
    transform: translate(6%, 6%);
    height:31px;
    width: 89px;
}
